html, body, div, p {
    font-family: "Roboto Condensed", sans-serif;
}
body {
    padding: 5em;
}
p:last-child {
    margin-bottom: 1rem;
}
em {
    font-style: italic;
}
pre {
    border: none;
    margin-top: 0 !important;
    white-space: pre-wrap !important;
    page-break-inside: avoid;
}
pre[class*=language-] {
    background-color: #ececec;
    border-radius: 0.5em;
}
pre>code {
    padding: 0;
    margin: 0;
}
code {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 0.8em;
}
.monospace {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 0.8em;
}
.horiz {
    display: flex;
    justify-content: space-between;
}
.frame {
    display: inline-block;
    position: relative;
    border: 0.4em solid #ececec;
    margin: 0 0 1rem 0;
    border-radius: 0.5em;
    page-break-inside: avoid;
}
.frame.full {
    display: block;
}
.horiz > .frame:not(:first-child) {
    margin-left: 1rem;
}
.frame .caption {
    position: absolute;
    background-color: #ececec;
    padding: .4em .6em;
    font-size: 0.6em;
    top: -.3em; left: -.3em;
    border-radius: 0.5em;
}
div.vr {
    width: 0.5em;
    background-color:#ececec; 
}
div.dot {
    margin: 1em;
}
table.prop {
    width: auto;
    margin: 1em;
    font-size: 0.8em;
}
table.prop th, td {
    padding: 0 1em 0 0;
}
table.prop th {
    font-weight: 400;
}
table.prop pre {
    margin: 0 !important;
    background-color: transparent !important;
}
table.prop code {
    background-color: transparent !important;
}
.pb {
    page-break-after: always;
    margin: 5em 0;
    border-bottom: 1px dashed lightgray;
}
.pb::before {
    position: absolute;
    content: "page break";
    color: lightgray;
    font-size: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}
.token.operator {
    background-color: transparent;
}
@media print {
    body {
        padding: 0;
    }
    .pb {
        margin: 0;
        border: none;
    }
    .pb::before {
        display: none;
    }
}
